<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.MemberMapper">

	<!-- Member 테이블을 사용한 SQL에 대한 실행 문장들을 정리하는 파일! -->
	<!-- id속성  parameterType속성 -->
	<insert id="join" parameterType="com.smhrd.model.Member">
		insert into member values(
			#{id},
			#{pw},
			#{name}
		)
	</insert>
	
	<select id="login" parameterType="com.smhrd.model.Member" resultType="string">
		select name from member where id = #{id} and pw = #{pw}
	</select>
	
	<select id=""></select>
</mapper>